<% provide(:title, 'About') %>    
<h1>About</h1>
<p>
  <%= link_to "Vista Forms", root_path %>
  is a project to ease and automate the filling and handling of health
  insurance applications carried by <a href="http://www.nyhealthinsurer.com/">Vista Health Solutions</a>
  on behalf of our customers.
</p>
